@using OnlineShopping.Models;
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">User List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;Add New User</a>
    </div>
</div>
<br />
<div>
    @*table table-striped border*@
    <table class="table table-striped borderd" id="myTable">
        <thead>
            <tr class="table-info">
                <th>
                    SL NO.
                </th>
                <th>
                    Name
                </th>
                <th>
                    UserName
                </th>
                <th>
                    Email
                </th>
                <th>Status</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@i</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                @if (item.LockoutEnd > DateTime.Now && item.LockoutEnd != null)
                {
                    <td>Inactive</td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Active" class="btn btn-primary" asp-route-id="@item.Id">
                                <i class="far fa-edit"></i>
                            </a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>

                    </td>

                }
                else
                {
                    <td>Active</td>
                    <td style="width: 50px">
                        <partial name="_PartialView" model="@item.Id" />
                    </td>

                }

            </tr>
                i++;
            }
        </tbody>
        
    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script type="text/javascript">

         $(document).ready( function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );


        $(document).ready(function () {
            var Save = '@TempData["Save"]'
                if (Save != '') {
                    alertify.success(Save);
                }
            var Edit = '@TempData["Edit"]'
                if (Edit != '') {
                    alertify.warning(Edit);
                }

            var Delete = '@TempData["Delete"]'
                if (Delete != '') {
                    alertify.error(Delete);
                }
        })
    </script>
}